<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image App</title>
  </head>

  <body>
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, facere.
      </p>
    </div>
  </body>
</html>
