<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image Upload</title>
    <!-- css styles-->
    <link rel="stylesheet" href="css/formImage.css" />
  </head>

  <body>
    <div class="container">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="text" name="title" placeholder="Title" />
        <textarea name="description" placeholder="Description"> </textarea>
        <button type="submit">Subir</button>
      </form>
    </div>
  </body>
</html>
